In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('raw_data.parquet')

In [3]:
df.head(4)

   latitude  longitude             timestamp  unit
0  40.23426  -77.13796  2023-12-05T23:13:40Z  1000
1  40.23422  -77.13796  2023-12-05T23:13:40Z  1000
2  40.23419  -77.13795  2023-12-05T23:13:40Z  1000
3  40.23412  -77.13792  2023-12-05T23:13:40Z  1000

In [4]:
df.shape

(73472, 4)

In [5]:
df.isnull().sum()

latitude     0
longitude    0
timestamp    0
unit         0
dtype: int64

In [6]:
df.describe()

           latitude     longitude          unit
count  73472.000000  73472.000000  73472.000000
mean      40.507989    -78.919561   1367.105836
std        2.080863      5.455478    482.018987
min       29.706670    -96.353030   1000.000000
25%       40.136450    -81.653397   1000.000000
50%       40.702190    -77.922590   1000.000000
75%       41.382770    -74.241338   2000.000000
max       43.204990    -73.778620   2000.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73472 entries, 0 to 73471
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   73472 non-null  float64
 1   longitude  73472 non-null  float64
 2   timestamp  73472 non-null  object
 3   unit       73472 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB

In [8]:
df['unit'].unique()

array([1000, 2000], dtype=int64)

In [9]:
df_unit = df.groupby('unit',as_index= False).size()

In [10]:
df_unit

   unit   size
0  1000  46500
1  2000  26972

In [11]:
df['timestamp1']=pd.to_datetime(df['timestamp'])

In [12]:
df['Time_Diff'] = df['timestamp1'].diff(-1).dt.total_seconds().div(60*60*7)

In [13]:
df.head()

,latitude,longitude,timestamp,unit,timestamp1,Time_Diff
0,40.23426,-77.13796,2023-12-05T23:13:40Z,1000,2023-12-05 23:13:40+00:00,0.00000
1,40.23422,-77.13796,2023-12-05T23:13:40Z,1000,2023-12-05 23:13:40+00:00,0.00000
2,40.23419,-77.13795,2023-12-05T23:13:40Z,1000,2023-12-05 23:13:40+00:00,0.00000
3,40.23412,-77.13792,2023-12-05T23:13:40Z,1000,2023-12-05 23:13:40+00:00,0.00000
4,40.23412,-77.13792,2023-12-05T23:13:40Z,1000,2023-12-05 23:13:40+00:00,-0.00004

In [14]:
list1 = df.index[df['Time_Diff']<=-1].tolist()
print(list1)

[14643, 26923, 42777, 46499, 58801, 62261]

In [15]:
trip_no = []
for i in range(0,len(list1)+1):
    trip_no.append(i)
output_trip_no = [str(x) for x in trip_no]
print(output_trip_no)
unit = df['unit'].unique()
print(unit)

['0', '1', '2', '3', '4', '5', '6']
[1000 2000]

In [16]:
df_name = []
i = 0 
k = 0
for j in range(0,len(list1)):
        if list1[j] < df_unit['size'][i]:
            df_name.append(unit[i].astype('str')+'_'+output_trip_no[k])
            k=k+1
        else :
            df_name.append(unit[i+1].astype('str')+'_'+output_trip_no[k-j])
            k=k+2
df_name.append(unit[1].astype('str')+'_'+output_trip_no[k-len(list1)])
df_name

['1000_0', '1000_1', '1000_2', '1000_3', '2000_0', '2000_1', '2000_2']

In [17]:
df.columns

Index(['latitude', 'longitude', 'timestamp', 'unit', 'timestamp1',
       'Time_Diff'],
      dtype='object')

In [18]:
df.drop(columns=['unit', 'timestamp1','Time_Diff'],inplace=True)

In [19]:
df.head()

   latitude  longitude             timestamp
0  40.23426  -77.13796  2023-12-05T23:13:40Z
1  40.23422  -77.13796  2023-12-05T23:13:40Z
2  40.23419  -77.13795  2023-12-05T23:13:40Z
3  40.23412  -77.13792  2023-12-05T23:13:40Z
4  40.23412  -77.13792  2023-12-05T23:13:40Z

In [20]:
name1={}

In [21]:
##name = [[]]
for i in range(0,len(df_name)):
    if i == 0 :
        name1[i] = df.iloc[:list1[i],:]
    elif i < len(df_name)-1 :
        name1[i] = df.iloc[list1[i-1]+1:list1[i]+1,:]
    else:
        name1[i] = df.iloc[list1[i-1]:,:]

In [22]:
name1

{0:        latitude  longitude             timestamp
 0      40.23426  -77.13796  2023-12-05T23:13:40Z
 1      40.23422  -77.13796  2023-12-05T23:13:40Z
 2      40.23419  -77.13795  2023-12-05T23:13:40Z
 3      40.23412  -77.13792  2023-12-05T23:13:40Z
 4      40.23412  -77.13792  2023-12-05T23:13:40Z
 ...         ...        ...                   ...
 14638  41.58661  -87.23604  2023-12-06T15:36:15Z
 14639  41.58661  -87.23604  2023-12-06T15:36:15Z
 14640  41.58699  -87.23491  2023-12-06T15:36:21Z
 14641  41.58699  -87.23491  2023-12-06T15:36:21Z
 14642  41.58699  -87.23491  2023-12-06T15:36:21Z

 [14643 rows x 3 columns],
 1:        latitude  longitude             timestamp
 14644  40.17010  -79.73264  2023-12-08T01:16:38Z
 14645  40.16999  -79.73276  2023-12-08T01:16:38Z
 14646  40.16999  -79.73276  2023-12-08T01:16:38Z
 14647  40.16999  -79.73276  2023-12-08T01:16:38Z
 14648  40.16996  -79.73280  2023-12-08T01:16:39Z
 ...         ...        ...                   ...
 26919  40.59526  -74.26294  2023-12-05T15:13:38Z
 26920  40.59506  -74.26287  2023-12-05T15:13:40Z
 26921  40.59506  -74.26287  2023-12-05T15:13:40Z
 26922  40.59506  -74.26287  2023-12-05T15:13:40Z
 26923  40.59506  -74.26287  2023-12-05T15:13:40Z

 [12280 rows x 3 columns],
 2:        latitude  longitude             timestamp
 26924  40.08751  -76.38773  2023-12-06T23:36:21Z
 26925  40.08741  -76.38781  2023-12-06T23:36:21Z
 26926  40.08710  -76.38804  2023-12-06T23:36:24Z
 26927  40.08710  -76.38804  2023-12-06T23:36:24Z
 26928  40.08708  -76.38798  2023-12-06T23:36:24Z
 ...         ...        ...                   ...
 42773  41.56531  -87.35611  2023-12-07T17:16:31Z
 42774  41.56519  -87.35607  2023-12-07T17:16:32Z
 42775  41.56512  -87.35604  2023-12-07T17:16:33Z
 42776  41.56464  -87.35603  2023-12-07T17:16:36Z
 42777  41.56431  -87.35603  2023-12-07T17:16:38Z

 [15854 rows x 3 columns],
 3:        latitude  longitude             timestamp
 42778  30.42087  -81.73532  2023-12-12T11:12:39Z
 42779  30.42087  -81.73532  2023-12-12T11:12:39Z
 42780  30.42087  -81.73532  2023-12-12T11:12:39Z
 42781  30.42087  -81.73532  2023-12-12T11:12:39Z
 42782  30.42087  -81.73532  2023-12-12T11:12:39Z
 ...         ...        ...                   ...
 46495  39.06599  -96.35240  2023-12-08T23:29:17Z
 46496  39.06607  -96.35286  2023-12-08T23:29:19Z
 46497  39.06607  -96.35286  2023-12-08T23:29:19Z
 46498  39.06607  -96.35286  2023-12-08T23:29:19Z
 46499  39.06610  -96.35303  2023-12-08T23:29:20Z

 [3722 rows x 3 columns],
 4:        latitude  longitude             timestamp
 46500  31.13662  -81.58010  2023-12-11T21:58:42Z
 46501  31.13678  -81.58042  2023-12-11T21:58:44Z
 46502  31.13708  -81.58125  2023-12-11T21:58:49Z
 46503  31.13716  -81.58146  2023-12-11T21:58:50Z
 46504  31.13716  -81.58146  2023-12-11T21:58:50Z
 ...         ...        ...                   ...
 58797  41.51200  -74.08382  2023-12-09T13:04:09Z
 58798  41.51200  -74.08382  2023-12-09T13:04:09Z
 58799  41.51182  -74.08374  2023-12-09T13:04:10Z
 58800  41.51176  -74.08371  2023-12-09T13:04:11Z
 58801  41.51145  -74.08360  2023-12-09T13:04:13Z

 [12302 rows x 3 columns],
 5:        latitude  longitude             timestamp
 58802  43.17101  -75.31687  2023-12-09T21:04:13Z
 58803  43.17009  -75.31566  2023-12-09T21:04:21Z
 58804  43.17009  -75.31566  2023-12-09T21:04:21Z
 58805  43.17009  -75.31566  2023-12-09T21:04:21Z
 58806  43.16938  -75.31473  2023-12-09T21:04:28Z
 ...         ...        ...                   ...
 62257  43.07942  -74.29190  2023-12-10T00:19:21Z
 62258  43.07956  -74.29152  2023-12-10T00:19:23Z
 62259  43.07956  -74.29152  2023-12-10T00:19:23Z
 62260  43.07956  -74.29152  2023-12-10T00:19:23Z
 62261  43.07957  -74.29152  2023-12-10T00:19:23Z

 [3460 rows x 3 columns],
 6:        latitude  longitude             timestamp
 62261  43.07957  -74.29152  2023-12-10T00:19:23Z
 62262  41.51166  -74.08417  2023-12-11T10:50:09Z
 62263  41.51176  -74.08371  2023-12-11T10:50:11Z
 62264  41.51176  -74.08371  2023-12-11T10:50:11Z
 62265  41.51088  -74.08337  2023-12-11T10:50:17Z
 ...         ...        ...                   ...
 73467  42.98914  -74.40199  2023-12-11T02:50:02Z
 73468  42.98919  -74.40328  2023-12-11T02:50:09Z
 73469  42.98919  -74.40328  2023-12-11T02:50:09Z
 73470  42.98919  -74.40328  2023-12-11T02:50:09Z
 73471  42.98919  -74.40332  2023-12-11T02:50:09Z

 [11211 rows x 3 columns]}

In [23]:

for i in range(0,len(df_name)):
    name1[i].reset_index(drop=True,inplace=True)
    name1[i].to_csv(df_name[i]+'.csv',index=False)